body {
    background-color: whitesmoke;
    color: black;
  }

form {
  text-align: center;
}

  .navbar {
    margin: 0px 0px;
    padding: 0;
    background-color: black;
  }

  h1,h4 {
    text-align: center;
    color:black
  }

  label {
    color: black;
    text-align: center;
  }

  .btn {
    margin: 12px 0;
    color: whitesmoke;
    background-color: gray;
  }

  .jumbotron {
    background: rgb(8, 8, 7);
    color: whitesmoke;
  }

  a {
    text-decoration: none;
    color: whitesmoke;
  }
  html, body, .container
    {
        height: 100%; 
        min-height: 100%;
        color:whitesmoke;
        margin-left: auto;
        margin-right: auto;
    }

  table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .form-control {
    margin: auto;
    width: 67%;
  } 

  .jumbotext {
    color: whitesmoke;
  }
  input{
    text-align:center;
 }


 footer {
  background-color: black;
  color: whitesmoke;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 0px;
  height: auto;
  min-height: 10%;
  position: absolute;
  
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  padding-bottom: 10rem;
}

