<!DOCTYPE html>
<head>
    <title>About · Joseph Rajchwald</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'joseph/index.css' %}">
</head>

<body>
    <div class="wrapper">
    <div class="content-wrap">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">Joseph Rajchwald</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/articles">Articles</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown" href="/joseph">
              Me
            </a>
        </ul>
      </div>
    </nav>
    
    <div class="container">
      <h2>Experience and Education</h2>
      <div class="row">
      <div class="card">
        {% load static %}
        <span class="float-left">
        <img class="card-img-top img-thumbnail float-left" src="{% static "joseph/epic.jpg" %}" alt="Card image cap">
        </span>
        <span class="foat-right">
        <ul>
          <li>Epic Systems <span class="text-muted">· August 2016 - June 2019</span></li>
          <ul>
            <li>Technical Services Engineer</li>
            <li>Ambulatory Reporting Lead</li>
          </ul>
        </span>
      </div>
      <div class="card">
        {% load static %}
        <span class="float-left">
        <img class="card-img-top img-thumbnail float-left" src="{% static "joseph/uiuc.jpg" %}" alt="Card image cap">
        </span>
        <span class="foat-right">
        <ul>
        <li>University of Illinois at Urbana-Champaign <span class="text-muted">· August 2013 - May 2016</span></li>
          <ul>
            <li>Research Assistant, Teaching Assistant, Engineering Student Admission Representative</li>
            <li>B.S. in Nuclear, Plasma, and Radiological Engineering</li>
          </ul>
        </ul>
        </span>
      </div>
      </div>
    
      <h2>Hobbies</h2>
        <div class="row">
        <div class="card">
        <ul>
        <li>Gaming</li>
          <ul>
            <li>League of Legends</li>
            <li>Super Smash Bros. Melee</li>
          </ul>
        </ul>
        </div>
        <div class="card">
          <ul>
        <li>Fitness</li>
          <ul>
            <li>Strength</li>
            <li>Brazilian Jiu-Jitsu</li>
            <li>Swimming</li>
          </ul>
        </ul>
        </div>
      </div>
    </div>
  </div>
  </div> 

  <br>
<!-- lazy workaround to footer covering content -->
<br>
  <footer class="page-footer font-small unique-color-dark pt-4">
      <div class="footercontainer">
  
          <!-- Call to action -->
          <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <a class="btn" href="https://www.github.com/jayrockwalled">
                  {% load static %}
                  <img src="{% static "main/github.jpg" %}">
                  Github</a>
            </li>
            <li class="list-inline-item">
                <a class="btn" href="https://www.github.com/jayrockwalled">
                  {% load static %}
                  <img src="{% static "main/linkdin.jpg" %}">
                  LinkdIn</a>
            </li>
            <li class="list-inline-item">
                <a class="btn" href="mailto:joseph.rajchwald1@gmail.com">
                    {% load static %}
                    <img src="{% static "main/gmail.jpg" %}">
                    Email</a>
            </li>
          </ul>
      
        </div>
      </div>
  
  
  </footer>
  </body>