<!DOCTYPE html>
<head>
    <title>About · Joseph Rajchwald</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'joseph/index.css' %}">
</head>

<body>
  
    <div class="navbar">
      <nav>
        <a class="logo">Young Lang Site</a>

        <span class="rightLinks">
          <a class="navlink" href="/main">Main</a>
          <a class="navlink" href="/joseph">Me</a>
          <a class="navlink" href="https://github.com/jayrockwalled">Github</a>
        </span>
      </nav>
    </div>


  <div class="container">
  <h1>Joseph Rajchwald</h1>
  <p>I taught myself various assets of programming by engaging myself in projects. To learn python
    and basic algorithms, I solved problems on projecteuler.net. To learn web development, I build 
    this website. To learn about NLP and machine learning, I did projects that interested me associated
    with those topics.
  </p>
  </div>



</div>
<a href="mailto:joseph.rajchwald1@gmail.com">Contact</a>
</body>