body, html {
  height: 100%;
}

body {
    background-color: whitesmoke;
    color: black;
}

h1, h3, h5 {
    text-align: center;
    color: black;
    margin-top: 10px;
}

.container {
    text-align: left;
    vertical-align: baseline;
    width: 50%;
    margin: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

.catch {
    font-style: italic;
    text-align: center;
}

.navbar {
    margin: 0px 0px;
    padding: 0;
    background-color: black;
  }

  nav {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    color: whitesmoke;
  }

  .logo {
    float: left;
    font-size: 26px;
    padding: 0 16px;
  }

  .rightLinks {
    float: right;
  }

  .navlink {
    padding: 0 16px;
  }

  a {
    text-decoration: none;
    color: whitesmoke;
  }

  .article {
      color: black
  }

  th, td {
    text-align: center;
  }
  .date {
    width: 30%;
  }

  footer {
    background-color: black;
    color: whitesmoke;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
    height: auto;
    min-height: 10%;
  }

  footer ul {
    margin-bottom: 0px;
  }

  .btn {
    margin: 12px 0;
    color: whitesmoke;
    background-color: gray;
  }


  .wrapper {
    position: relative;
    min-height: 100vh;
  }
  
  .content-wrapper {
    padding-bottom: 10rem;
  }
  
  .navbar-brand {
    margin-left: 10px;
  }


  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="container"] {
      width: 90%;
      margin: auto;
  }
  }

  .container a {
    color: black;
  }