{% extends 'articles/base.html' %}
{% block content %}
<h3>The Importance of the Center</h3>
<div class="container">
<div class='catch'>The reoccurring theme of any board/map based strategy game</div>

<p>I have played a lot of video/board games throughout my life. In fact, it is one of my main hobbies.
    Whether it be in the fighting genere, turn-based strategy, or even MOBAs, one theme always reoccurs:
    the one who controls the center is most likely to prevail.
</p>

<p>Let's start with one of the oldest and most recognizable examples: chess. The main principle of the 
    opening sequence is to take control of the center four squares. Beginners are taught that any move
    that doesn't accomplish this is a bad move. Once one controls the center, he will have the most 
    available options for both offense and defense. He will have the ability to control the pace and 
    direction of the game.
</p>

<p>This same theme also presents in self in all fighting games. If one is pushed towards the edge, away from 
    the center, he will be at the mercy of his opponent. 
</p>

<p>This phenomenon also occurs in team games. In all MOBAs, a team must control the center of the map to 
    advance their game. In League of Legends and Dota 2, this takes the form of controlling the mid lane.
    By being the first to take the mid tower, they gains a significant vision advantage of the map. The enemy 
    jungle will be easily invaded while their own will maintain protected.
</p>
<p>I have played a lot of video/board games throughout my life. In fact, it is one of my main hobbies.
        Whether it be in the fighting genere, turn-based strategy, or even MOBAs, one theme always reoccurs:
        the one who controls the center is most likely to prevail.
    </p>
    
    <p>Let's start with one of the oldest and most recognizable examples: chess. The main principle of the 
        opening sequence is to take control of the center four squares. Beginners are taught that any move
        that doesn't accomplish this is a bad move. Once one controls the center, he will have the most 
        available options for both offense and defense. He will have the ability to control the pace and 
        direction of the game.
    </p>
    
    <p>This same theme also presents in self in all fighting games. If one is pushed towards the edge, away from 
        the center, he will be at the mercy of his opponent. 
    </p>
    
    <p>This phenomenon also occurs in team games. In all MOBAs, a team must control the center of the map to 
        advance their game. In League of Legends and Dota 2, this takes the form of controlling the mid lane.
        By being the first to take the mid tower, they gains a significant vision advantage of the map. The enemy 
        jungle will be easily invaded while their own will maintain protected.
    </p>
</div>
{% endblock %}