{% extends 'articles/base.html' %}

{% block content %}
<h1>Joseph's Musings</h1>

<div class='container'>

    <p>This section is for my personal musings. I like discussing my various hobbies and this is a good way to express myself as well.</p>
    <p>Nothing here should be taken too seriously. If you would like to offer any constructive criticism or discuss anything you read, please contact me via the link at the bottom.</p>



<h3>Past Musings</h3>
<table>
    <tr><th class="date">Date</th><th>Title</th></tr>
    <tr><td class="date">October 21, 2019</td><td><a class='article' href='/articles/importance-of-the-center'>Importance of the Center</a></td></tr>
    <tr><td class="date">October 21, 2019</td><td><a class='article' href='/articles/network-correlation-diagrams-to-demonstrate-community-word-choice'>Network Correlation Diagrams to Demonstrate Community Word Choice</a></td></tr>
    <tr><td class="date">November 2, 2019</td><td><a class='article' href='/articles/visualizing_w2v'>Viz W2v</a></td></tr>
</table>

</div>
{% endblock %}