<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

{% extends 'articles/base.html' %}
{% block content %}
<h3>Lessons Learned from Building this Website</h3>
<div class='container'>

<div class='catch'>How I Benefitted from Struggling / Self Learning</div>

<p>I originally started learning about web development in August, 2018. I already liked the idea
    of having my own website to show off various projects as well as having an outlet for my 
    self-expression. All CS students from my undergrad has their own personal websites that they'd 
    put on their resume so I assumed it would be pretty easy. Despite starting with almost no knowledge
    of web development, I thought I'd be able to grind through it in a week or two.
</p>
<p>It was actually far from easy and ended up taking much more time than I thought it would. Counting
    time spent learning about new tools, building the website, troubleshooting, and figuring out hosting,
    I'd say this took easily more than 200 hours. During those 200 hours, I learned a lot about doing 
    development as well as a lot about myself.
</p>
<h5>1. Google is my best friend</h5>
{% load static %}
<a href="google-plus-logo"><img style="width:25%" src="{% static "articles/google-plus-logo.png" %}" alt="Google Plus Logo"></a>
<p>Using the correct keywords, the solution to almost all of my issues were a single Google search 
    away. What I would have thought would take hours reading through documentation never lasted more
    than an hour. 
</p>

<h5>2. There</h5>




<h5>4. Learning is satisfying again</h5>
<p>In college, I always wanted to finish my assignments as quickly as I possibly can. Any extra time
    spent struggling on homework problems meant less time participating in my hobbies or hanging out 
    with friends. I wasn't 
</p>
</div>

{% endblock %}