<!DOCTYPE html>
<html lang="en">

<head>
  <title>Word Analysis · Joseph Rajchwald</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'main/index.css' %}">

</head>

<body>
  <div class="wrapper">
  <div class="content-wrapper">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Joseph Rajchwald</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/main">Word Analysis <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/articles">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/joseph">Me
          </a>
        </li>
      </ul>
    </div>
  </nav>
    <div class="container">
      <h1>Reddit Language Anaylsis</h1>
      <br>
      <h4>Word definitions are relative to what we choose them to mean. Analyze how different communities
        see a word by using the buttons below.
      </h4>
      <br>
      <form action="/main/community/" method="POST">
        {% csrf_token %}
        <div class='dropdowns row'>
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
        <select name='CommChoice1'>
          <option value='bjj'>Brazilian Jiu-Jitsu</option>
          <option value='boardgames'>Boardgames</option>
          <option value='Boxing'>Boxing</option>
          <option value='chess'>Chess</option>
          <option value='dota2'>Dota 2</option>
          <option value='GlobalOffensive'>Global Offensive</option>
          <option value='hs'>Hearthstone</option>
          <option value='judo'>Judo</option>
          <option value='league'>League of Legends</option>
          <option value='magicTCG'>Magic TCG</option>
          <option value='MMA'>MMA</option>
          <option value='pokemon'>Pokemon</option>
          <option value='poker'>Poker</option>
          <option value='smashbros'>Smashbros</option>
          <option value='taekwondo'>Taekwondo</option>
        </select>
        <select name='CommChoice2'>
          <option value='bjj'>Brazilian Jiu-Jitsu</option>
          <option selected='selected' value='boardgames'>Boardgames</option>
          <option value='Boxing'>Boxing</option>
          <option value='chess'>Chess</option>
          <option value='dota2'>Dota 2</option>
          <option value='GlobalOffensive'>Global Offensive</option>
          <option value='hs'>Hearthstone</option>
          <option value='judo'>Judo</option>
          <option value='league'>League of Legends</option>
          <option value='magicTCG'>Magic TCG</option>
          <option value='MMA'>MMA</option>
          <option value='pokemon'>Pokemon</option>
          <option value='poker'>Poker</option>
          <option value='smashbros'>Smashbros</option>
          <option value='taekwondo'>Taekwondo</option>
        </select></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
        <label>Enter word for analysis:</label>
      </div>
      </div>
        <input type="text" class="form-control" name="words" value='best'>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
        <input type="submit" class="btn btn-primary" name="submit">
      </div>
    </div>
      </form>
      {% block content %}
      {% endblock %}

    </div>
    </div>
    <footer class="page-footer font-small unique-color-dark pt-4">
        <div class="footercontainer">
    
            <!-- Call to action -->
            <ul class="list-unstyled list-inline text-center py-2">
              <li class="list-inline-item">
                  <a class="btn" href="https://www.github.com/jayrockwalled">
                    {% load static %}
                    <img src="{% static "main/github.jpg" %}">
                    Github</a>
              </li>
              <li class="list-inline-item">
                  <a class="btn" href="https://www.linkedin.com/in/joseph-rajchwald-28a793b0/">
                    {% load static %}
                    <img src="{% static "main/linkdin.jpg" %}">
                    LinkdIn</a>
              </li>
              <li class="list-inline-item">
                  <a class="btn" href="mailto:joseph.rajchwald1@gmail.com">
                      {% load static %}
                      <img src="{% static "main/gmail.jpg" %}">
                      Email</a>
              </li>
            </ul>
            <!-- Call to action -->
        
          </div>
        </footer>
        </div>
    
    

    </div>


  </div>
  </div>
</div>
</body>

</html>